{ display: block; }
a {
    /* color: AliceBlue ; */
    /* color: Lavender ; */
    color: LightCyan ;  
    /* color: DarkSlateGray ; */ 
    /* color: Gold; */ 
}
nav {
/*	position: fixed;
  	top: 0;
  	width: 100%; */
}
nav a {
    font-weight: lighter;
    background: rgba(0, 0, 0, 0.4);
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
    border: 1px solid transparent;
}
nav a:visited {  }
nav a:hover { background: rgba(0, 0, 0, 0.6); color: YellowGreen; border: 1px solid YellowGreen; }
nav a:active {  }
p {
	margin-bottom: 0;
}
body {
	background-image: url(img/crypton1.jpg); /* Фоновая картинка */
    background-size: cover; /* Растягиваем фон */
    background-repeat: no-repeat; /* Не повторять рисунок */
    background-position: center top;
    background-attachment: fixed;
    
	/*font-family: 'Times New Roman', Times, serif;*/
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 14pt;
	text-align: center;
}
.top-blocks {
    background: rgba(0,0,0,0.4); /* Полупрозрачный фон */
    padding: 20px; /* Поля вокруг текста */
    color: Cornsilk;
    display: inline-block;
    text-align: center;
    margin: 20px;
}
.main-block {
    background: rgba(0,0,0,0.4); /* Полупрозрачный фон */
    padding: 20px; /* Поля вокруг текста */
    color: Cornsilk;
    text-align: center;
    margin: auto;
    display: inline-flex;
  	/*border: 1px solid LightCyan;*/
}
td {
	font-family: Arial, sans-serif;
	font-size: 12pt;
}
h1 {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 16pt;
	margin-top: 0;
}
h2 {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 16pt;
	margin-top: 0;
}
h2 a{
    font-weight: lighter;
    font-size: 12pt;
    margin-bottom: 0;
}
h3 {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 16pt;
	margin-top: 0;
}
    